<h3>カテゴリー　<%= @category.name %>　のメモ</h3>

<% @memos.each do |memo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= memo.title %></h3>
        <p><%= memo.category.name %></p>
          <div class = "buttons">
            <a class="btn btn-primary" href="/memos/<%= memo.id %>", data-method = "delete" role="button">削除</a>
            <a class="btn btn-primary" href="/memos/<%= memo.id %>/edit" role="button">編集</a>
          </div>
      </div>
      <div class="panel-body">
        <p><%= memo.body %></p>
      </div>
    </div>
<% end %>
